{% extends "base.html" %}
{% block body %}


<script>
    function habilitarModificar(idAtributosPorTipoItem,nombre,tipo,valorPorDefecto ){

        /*
            Modificamos el texto del boton, el lugar donde apunto el formulario
            rellenamos los datos, e incluimos el campo id :)
        */
        $("#formulario").attr('action','{{ url_for('modificarAtributoTipoItem') }}');
        $("#formulario").append('<input type="hidden" value="'+idAtributosPorTipoItem+'" name="idAtributosPorTipoItem" >' );


        /* Rellenamos los campos :) */
        $("#idAtributosPorTipoItem").val( idAtributosPorTipoItem );
        $("#nombre").val( nombre );
        $("#tipo").val( tipo );
        $("#valorPorDefecto").val( valorPorDefecto );

        // SI TODO SALE BIEN Y LAS PUTAS
        //Mostramos el formulario
        mostrarFormulario();
    }

    function eliminar(idAtributoPorTipoItem){
        $("#botones-eliminar").empty().append("<a href=\"{{url_for('eliminarAtributoTipoItem')}}/" +{{tipoItem.idTipoItem}}+ "/" + idAtributoPorTipoItem +  "\"  class=\"btn danger\">Si</a>"
        +
         "<a  data-dismiss=\"modal\" class=\"btn secondary\">No</a>");
        $("#modal-from-dom").modal('show');
    }

    function mostrarFormulario(){
        $("#formulario-div").show("slow");
        $("#boton-mostrar-formulario").hide();
    }
    function ocultarFormulario(){
        $("#formulario-div").hide("slow");
        $("#boton-mostrar-formulario").show();
        $("#formulario")[0].reset();

    }

    function buscar(){
        var nombre = $("#nombreBuscado").val();

        if(nombre.length > 0){
            window.location = "{{url_for('buscarTipoItem')}}/" + nombre;
        }


    }


</script>

<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Eliminar atributo de Tipo Item</h3>
    </div>
    <div class="modal-body">
      <p>Esta seguro que desea eliminar?</p>
    </div>
    <div class="modal-footer" id="botones-eliminar">
        <!-- placeholder -->
    </div>
</div>

<div class="row">
    <br/>
</div>

<div class="row">
    <div class="span12">
        <center>
        <h1> Atributos de <br> {{tipoItem.nombre}}</h1>
        <hr>
        Complete el formulario para agregar atributos al tipo de item
        <hr>
        </center>
    </div>
</div>

<hr>

<div class="roles">

<div class="row">
      <div class="span10">
        <h2> Listado de atributos de {{tipoItem.nombre}} </h2>
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo </th>
            <th>ValorPorDefecto</th>
            <th>Eliminar</th>
            <th>Modificar</th>
          </tr>
          {% for f in tipoItem.atributosPorTipoItem %}
          <tr>
            <td>{{f.idAtributosPorTipoItem}}</td>
            <td>{{f.nombre}}</td>
            <td>{{f.tipo}}</td>
            <td>{{f.valorPorDefecto}}
          
            <td><a class="btn btn-danger" onClick="eliminar({{f.idAtributosPorTipoItem}});">Eliminar</a></td>
          	
          	<td><a class="btn" onClick="habilitarModificar('{{f.idAtributosPorTipoItem}}','{{f.nombre}}','{{f.tipo}}','{{f.valorPorDefecto}}');">
            Modificar</a></td>
          	
          </tr>

          {% else %}
            <tr>
                NO HAY REGISTROS
            </tr>
          {% endfor %}

        </table>
      </div>

    </div>



<!-- boton para mostrar formulario -->
<div class="row" id="boton-mostrar-formulario">

    <div class="span12">
        <center>
        <a class="btn btn-primary" onClick="mostrarFormulario();">Asignar Atributo a {{tipoItem.nombre}} </a>
        </center>
    </div>
</div>


<!---- formulario de usuario nuevo o modificar -->



<div class="row hide" id="formulario-div">

    <div class="span12">
        <center>

        <form action="{{ url_for('nuevaAtributoTipoItem') }}" method="post" class="form-horizontal" id="formulario">
            <fieldset>

                <label>Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre atributo">
                <label>Tipo:</label>
                
                <select name="tipo">
                	<option value="texto"> Texto </option>
                	<option value="numerico"> Numerico </option>
                	<option value="fecha"> Fecha </option>
                </select>
                
                <!--<input type="text" name="tipo" id="tipo" placeholder="tipo atributo">-->
                
                <label>ValorPorDefecto:</label>
                <input type="text" name="valorPorDefecto" id="valorPorDefecto" placeholder="valores por defecto">
                <input type="hidden" value="{{tipoItem.idTipoItem}}" name="idTipoItem">
                <br/>
                <br/>

                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-accion">

            </fieldset>
        </form>
        <a onClick="ocultarFormulario();" class="btn">Cancelar</a>
        </center>

    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
    <center>
        <a href="{{url_for('returnTipoItem')}}/{{tipoItem.idTipoItem}}/{{tipoItem.idProyecto}}/{{tipoItem.idFase}}" class="btn btn-large btn-success">Atras!</a>
        </center>
    </div>
</div>

</div>
{% endblock %}