{% extends "base.html" %}
{% block body %}


<script>



    function eliminar(idItem, idProyecto){
        $("#botones-eliminar").empty().append("<a href=\"{{url_for('eliminarDatosItem')}}/{{item.idItemActual}}/{{idProyecto}}/" + idItem +  "\"class=\"btn danger\">Si</a>"
        +
         "<a  data-dismiss=\"modal\" class=\"btn secondary\">No</a>");
        $("#modal-from-dom").modal('show');
    }

    function mostrarFormulario(){
        $("#formulario-div").show("slow");
        $("#boton-mostrar-formulario").hide();
    }
    function ocultarFormulario(){
        $("#formulario-div").hide("slow");
        $("#boton-mostrar-formulario").show();
        $("#formulario")[0].reset();

    }




</script>

<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Eliminar datos de Tipo Item</h3>
    </div>
    <div class="modal-body">
      <p>Esta seguro que desea eliminar?</p>
    </div>
    <div class="modal-footer" id="botones-eliminar">
        <!-- placeholder -->
    </div>
</div>

<div class="row">
    <br/>
</div>

<div class="row">
    <div class="span12">
        <center>
        <h1> datos de <br> {{item.numero}}</h1>
        <hr><b>
        Complete el formulario para agregar datos al item:<br>
        *Para crear un dato por primera ves solo se asigna el dato<br>
        * Para Crear un dato nuevo debe caducar el dato y luego asigna el nuevo dato.<br>
       	* Para reversion de un dato debe hacer primero caducar el dato de estado actual<br>
        y luego hacer reversion del dato que se quiere reversionar</b>
        <hr>
        </center>
    </div>
</div>

<hr>

<div class="roles">

<div class="row">
      <div class="span10">
        <h2> Listado de datos de {{item.numero}} </h2>
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>version</th>
            <th>complejidad </th>
            <th>prioridad</th>
            <th>estado</th>
            {% for a in atributos %}
                <th> {{a.nombre}} </th>
            {% endfor %}
            <!---<th>Eliminar</th>--->
           <!--  <th>Caducar dato</th> -->
            <th>Volver A esta Version</th>

          </tr>
          {% for f in item.datos %}
          <tr>
            <td>{{f.idItem}}</td>
            <td>{{f.version}}</td>
            <td>{{f.complejidad}}</td>
            <td>{{f.prioridad}}</td>
            <td>{{f.estado}}</td>
            {% for aDeItem in f.atributosDeItem %}
                <td>{{aDeItem.valor}}</td>
            {% endfor %}
            <!---<td><a class="btn btn-danger" onClick="eliminar({{f.idItem}});">Eliminar</a></td>--->

          	<!-- <td><a href="{{url_for('caducarDatosItem')}}/{{f.idItem}}/{{item.idItemActual}}/{{idProyecto}}" class="btn">Caducar</a></td> -->

            {% if f.version == item.ultimaVersion %}
                <td>Version Actual</td>
                <!--VERSION ACTUAL BOTONES DE CAMBIO DE ESTADO-->
                {% if f.estado == "inicial" %}
                    <td><a href="{{url_for('estadoListoDatosItem')}}/{{f.idItem}}/{{item.idItemActual}}/{{idProyecto}}" class="btn  btn-inverse">Listo!</a></td>
                {% endif %}

                {% if f.estado == "listo" %}
                    <td><a href="{{url_for('estadoAprobadoDatosItem')}}/{{f.idItem}}/{{item.idItemActual}}/{{idProyecto}}" class="btn  btn-inverse">Aprobado</a></td>
                    <td><a href="{{url_for('estadoRechazadoDatosItem')}}/{{f.idItem}}/{{item.idItemActual}}/{{idProyecto}}" class="btn  btn-inverse">Rechazado</a></td>
                {% endif %}
            {% else %}
                <td><a href="{{url_for('revertirDatosItem')}}/{{f.idItem}}/{{item.idItemActual}}/{{idProyecto}}" class="btn  btn-inverse">Reversion</a></td>
            {% endif %}
          </tr>

          {% else %}
            <tr>
                NO HAY REGISTROS
            </tr>
          {% endfor %}

        </table>
      </div>

    </div>



<!-- boton para mostrar formulario -->
<div class="row" id="boton-mostrar-formulario">

    <div class="span12">
        <center>
        	<a class="btn btn-primary" onClick="mostrarFormulario();">Asignar datos al item {{item.numero}} </a>
        </center>
    </div>
</div>





<!---- formulario de usuario nuevo o modificar -->



<div class="row hide" id="formulario-div">

    <div class="span12">
        <center>

        <form action="{{ url_for('nuevaDatosItem')}}/{{idProyecto}}" method="post" class="form-horizontal" id="formulario">
            <fieldset>

                <label>Version:</label>
                <input type="number" name="version" id="version" placeholder="Version del dato" value="{{item.ultimaVersion + 1}}">
                <label>Complejidad:</label>
                <input type="number" name="complejidad" id="complejidad" placeholder="Complejidad del dato">
                <label>Prioridad:</label>
                <input type="number" name="prioridad" id="prioridad" placeholder="Prioridad del dato">

                {% for a in atributos %}
                    <label>{{a.nombre}}</label>

                    {% if a.tipo == "texto" %}
                    <input  type="text" name="{{a.nombre}}" id="{{a.nombre}}" value="{{a.valorPorDefecto}}">
                    {% endif %}

                    {% if a.tipo == "numerico" %}
                    <input type="number" name="{{a.nombre}}" id="{{a.nombre}}" value="{{a.valorPorDefecto}}">
                    {% endif %}

                    {% if a.tipo == "fecha" %}
                    <input type="date" name="{{a.nombre}}" id="{{a.nombre}}" value="{{a.valorPorDefecto}}">
                    {% endif %}



                {% endfor %}



                <!--<input type="text" name="tipo" id="tipo" placeholder="tipo atributo">-->

                <input type="hidden" value="{{item.idItemActual}}" name="idItemActual">
                <input type="hidden" value="{{item.idTipoItem}}" name= "idTipoItem">
                <br/>
                <br/>

                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-accion">

            </fieldset>
        </form>
        <a onClick="ocultarFormulario();" class="btn">Cancelar</a>
        </center>

    </div>
</div>
<hr>

<hr>
<div class="row">
    <div class="span12">
    <center>
        <a href="{{url_for('returnDatosItem')}}/{{idProyecto}}/{{item.idFase}}" class="btn btn-large btn-success">Atras!</a>
        </center>
    </div>
</div>




</div>
{% endblock %}