<html>
<head>
	<style type="text/css">
		table, td, th
		{
		border:1px solid black;
		}
		th
		{
			background-color:gray;
			color:white;
			text-align : center;
		}
		td{
			text-align : center;
		}
		
		.cabecera{
			text-align : center;
			background-color : #ccc;
			color : #fff;
		}
		
	</style>
</head>
<body>


	<div class="cabecera">
	<h1> Informe Listado de Historial de Items </h1>
	</div>

	<div class="tabla">
			<table >
	          <tr>
	            <th>Codigo</th>
	            <th>version </th>
	            <th>Complejidad</th>
	            <th> Costo </th>
	            <th> Prioridad </th>
	            <th> Estado </th>
	          </tr>
	          {% for u in item.datos %}
	          <tr>
	            <td>{{u.idItem}}</td>
	            <td>{{u.version}}</td>
	            <td>{{u.complejidad}}</td>
	            <td>{{u.costo}}</td>
	            <td>{{u.prioridad}}</td>
	            <td>{{u.estado}}</td>
	            
	          </tr>
	          {% else %}
	          	<tr>
	          		NO HAY REGISTROS
	          	</tr>
	          {% endfor %}
	
	     </table>
	
	
	       
	</div>
</body>
</html>