{% extends "base.html" %}

{% block body %}

<div class="row">
<div class="span12">
<center>
	<img src="{{url_for('static',filename = 'img/logo-sgp.png')}}">
</center>
</div>
</div>

<div class="row">
<div class="span12">

<div style="background-color:#eee;">
	<center>

	<h1> Modulo de Administración </h1>
	<hr>

	{% if (1 or 2 or 3) in session['permisos'] %}
		<a href="{{ url_for('indexUsuario') }}" class="btn">
		<img src="{{ url_for('static', filename = 'img/user.png') }}" >
		<br/>Administración de Usuarios
		</a>
	{% endif %}

	{% if (4 or 5 or 6) in session['permisos'] %}
		<a href="{{ url_for('indexRol') }}" class="btn">
		<img src="{{ url_for('static', filename = 'img/rol.png') }}" >
		<br/>Administración de Roles
		</a>
	{% endif %}

	{% if (7 or 8 or 9 or 10) in session['permisos'] %}
		<a href="{{ url_for('indexProyecto') }}" class="btn">
		<img src="{{ url_for('static', filename = 'img/project.png') }}" >
		<br/>Administración de Proyectos
		</a>
	{% endif %}
	<hr>
	</center>
	<br/>

</div>

</div>
</div>


{% endblock %}