{% extends "base.html" %}
{% block body %}


<script>
	function habilitarModificar(idItemActual,numero,eliminado,ultimaVersion, idProyecto, idFase ){

		/*
			Modificamos el texto del boton, el lugar donde apunto el formulario
			rellenamos los datos, e incluimos el campo id :)
		*/
		$("#formulario").attr('action','{{ url_for('modificarItem') }}');
		$("#formulario").append('<input type="hidden" value="'+idItemActual+'" name="idItemActual" >' );


		/* Rellenamos los campos :) */
		$("#idItemActual").val( idItemActual );
		$("#numero").val( numero );
		$("#eliminado").val( eliminado );
		$("#ultimaVersion").val( ultimaVersion );

		// SI TODO SALE BIEN Y LAS PUTAS
		//Mostramos el formulario
		mostrarFormulario();
	}

	function eliminar(id){
		$("#botones-eliminar").empty().append("<a href=\"{{url_for('eliminarItem')}}/{{idProyecto}}/{{idFase}}/{{session['idUsuario']}}/" + id +  "\"  class=\"btn danger\">Si</a>"
		+
         "<a  data-dismiss=\"modal\" class=\"btn secondary\">No</a>");
        $("#modal-from-dom").modal('show');
	}

	function mostrarFormulario(){
		$("#formulario-div").show("slow");
		$("#boton-mostrar-formulario").hide();
	}
	function ocultarFormulario(){
		$("#formulario-div").hide("slow");
		$("#boton-mostrar-formulario").show();
		$("#formulario")[0].reset();

	}



</script>

<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Eliminar Item</h3>
    </div>
    <div class="modal-body">
      <p>La eliminacion de un item es irreversible.</p>
      <p>Todas sus relaciones seran eliminadas.</p>
      <p>Esta seguro que desea eliminar?</p>
    </div>
    <div class="modal-footer" id="botones-eliminar">
    	<!-- placeholder -->
    </div>
</div>

<div class="row">
    <br>
</div>

<div class="row">
	<div class="span12">
		<center>
		<h1> Item de fase <br> {{idFase.nombre}}</h1>
		<!-- nombre, codigo, descripcion -->
		</center>
	</div>
</div>

<hr>

<div class="usuarios">

<div class="row">
      <div class="span8">
        <h2> Listado de Items </h2>
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>numero </th>
            <th>eliminado</th>
            <th>ultimaVersion</th>
            <th>Tipo De Item </th>
            <th>Eliminar</th>
            <!---<th>Modificar</th>--->
            <th>Datos</th>
            <th>Revivir<th>
          </tr>
          {% for u in items %}
          <tr>
            <td>{{u.idItemActual}}</td>
            <td>{{u.nombreItemActual}}</td>
            <td>{{u.numero}}</td>
            <td>{{u.eliminado}}</td>
            <td>{{u.ultimaVersion}}</td>
            <td>{{ nombresTipoItem[u.idTipoItem] }}</td>

			{%  if not estadosItem[u.idItemActual] == 'final'  %}
		

	            {% if not u.eliminado == True %}
	            	<td><a class="btn btn-danger" onClick="eliminar({{u.idItemActual}});">Eliminar</a></td>
	            {% else %}
	            <td></td>
	            {% endif %}

	            {% if not u.eliminado == True %}
	            <!---<td><a class="btn" onClick="habilitarModificar('{{u.idItemActual}}','{{u.numero}}','{{u.eliminado}}','{{u.ultimaVersion}}','{{idProyecto}}','{{idFase}}');">
	            Modificar</a></td>--->

	            {% else %}
	            <!---<td></td>--->
	            {% endif %}

	            {% if not u.eliminado == True %}
	           <td><a href="{{url_for('datos')}}/{{u.idItemActual}}/{{idProyecto}}" class="btn btn-info"><small>Datos Item</small></a></td>
	            {% else %}
	            <td></td>
	            {% endif %}


	            {% if u.eliminado == True %}
	            <td><a href="{{url_for('revivirItem')}}/{{idProyecto}}/{{idFase}}/{{session['idUsuario']}}/{{u.idItemActual}}" class="btn"><small>Revivir</small></a></td>
	            {% else %}
	            <td></td>
	            {% endif %}
	          </tr>
	          
		{% else %}
			<td>Estado del Item {{u.numero}} : {{estadosItem[u.idItemActual]}}</td>
			<td></td>
			<td></td>
		{% endif %}

          {% else %}
          	<tr>
          		NO HAY REGISTROS
          	</tr>
          {% endfor %}

        </table>
      </div>

    </div>



<!-- boton para mostrar formulario -->
<div class="row" id="boton-mostrar-formulario">

	<div class="span12">
		<center>
		<a class="btn btn-primary" onClick="mostrarFormulario();">Agregar Nuevo Item</a>
		</center>
	</div>
</div>


<!---- formulario de Item nuevo o modificar -->



<div class="row hide" id="formulario-div">

	<div class="span12">
		<center>

		<form action="{{ url_for('nuevoItem') }}" method="post" class="form-horizontal" id="formulario">
			<fieldset>

        <!--
				<label>Numero de Item:</label>
				<input type="number" placeholder="Numero de item" name="numero" id="numero">
         -->
        Seleccione el tipo de Item :<br/>
				<select name="idTipoItem" id="idTipoItem">
          {% for tipoItem in tipoItems %}
          <option value="{{tipoItem.idTipoItem}}"> {{tipoItem.nombre}} </option>
          {% endfor %}
        </select>
        <br/>
        Nombre del Item: <br/>
        <input type="text" placeholder="Nombre Item" name ="nombreItem" id="nombreItem">

				<input type="hidden" placeholder="UltimaVersion" name="ultimaVersion" id="ultimaVersion" >
				<input type="hidden"  name="idProyecto" id="idProyecto" value={{idProyecto}} >
				<input type="hidden"  name="idFase" id="idFase" value="{{idFase}}" >
				<input type="hidden"  name="idUsuario" id="idUsuario" value="{{session['idUsuario']}}" >
				<br/>
				<br/>

				<input type="submit" value="Guardar" class="btn btn-primary" id="btn-accion">

			</fieldset>
		</form>
		<a onClick="ocultarFormulario();" class="btn">Cancelar</a>
		</center>

	</div>
</div>

<br>
<div class="row">
    <div class="span12">
    <center>
        <a href="{{url_for('indexRelacion')}}/{{idProyecto}}/{{idFase}}" class="btn btn-large btn-success">ADM Relaciones</a>
    </center>
    </div>
</div>


<hr>
<div class="row">
    <div class="span12">
    <center>
        <a href="{{url_for('indexAdministrarFase')}}/{{idProyecto}}" class="btn btn-large btn-success">Atras!</a>
        </center>
    </div>
</div>


</div>
{% endblock %}