{% extends "base.html" %}
{% block body %}


<script>
	function habilitarModificar(idSolicitud,nombreSolicitud,descripcion,estado){

		/*
			Modificamos el texto del boton, el lugar donde apunto el formulario
			rellenamos los datos, e incluimos el campo id :)
		*/
		$("#formulario").attr('action','{{ url_for('modificarSolicitud') }}/{{idProyecto}}/{{idFase}}');
		$("#formulario").append('<input type="hidden" value="'+idSolicitud+'" name="idSolicitud" >' );


		/* Rellenamos los campos :) */
		$("#idSolicitud").val( idSolicitud );
		$("#nombreSolicitud").val( nombreSolicitud );
		$("#descripcion").val( descripcion );
		$("#estado").val( estado );


		// SI TODO SALE BIEN
		//Mostramos el formulario
		mostrarFormulario();
	}

	function eliminar(idSolicitud){
		$("#botones-eliminar").empty().append("<a href=\"{{url_for('eliminarSolicitud')}}/{{idProyecto}}/{{idFase}}/" + idSolicitud +  "\"  class=\"btn danger\">Si</a>"
		+
         "<a  data-dismiss=\"modal\" class=\"btn secondary\">No</a>");
        $("#modal-from-dom").modal('show');
	}

	function enviarSol(idSolicitud){
		$("#botones-solicitud").empty().append("<a href=\"{{url_for('enviarSol')}}/{{idProyecto}}/{{idFase}}/" + idSolicitud +  "\"  class=\"btn danger\">Si</a>"
		+
         "<a  data-dismiss=\"modal\" class=\"btn secondary\">No</a>");
        $("#modal-from-dom1").modal('show');
	}

	function mostrarFormulario(){
		$("#formulario-div").show("slow");
		$("#boton-mostrar-formulario").hide();
	}
	function ocultarFormulario(){
		$("#formulario-div").hide("slow");
		$("#boton-mostrar-formulario").show();
		$("#formulario")[0].reset();

	}

	function buscarSolicitud(){
		var nombre = $("#nombreBuscado").val();

		if(nombre.length > 0){
			window.location = "{{url_for('buscarSolicitud')}}/{{idProyecto}}/{{idFase}}/" + nombre;
		}


	}


</script>

<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Eliminar Solicitud</h3>
    </div>
    <div class="modal-body">
      <p>La eliminacion de una solicitud es irreversible.</p>
      <p>Esta seguro que desea eliminar?</p>
    </div>
    <div class="modal-footer" id="botones-eliminar">
    	<!-- placeholder -->
    </div>
</div>



<div id="modal-from-dom1" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Enviar la solicitud</h3>
    </div>
    <div class="modal-body">
      <p>Esta seguro que desea enviar la solicitud?</p>
    </div>
    <div class="modal-footer" id="botones-solicitud">
    	<!-- placeholder -->
    </div>
</div>


<div class="row">
    <br>
</div>

<div class="row">
	<div class="span12">
		<center>
		<h1> SOLICITUDES </h1>
		<!-- idSolicitud,nombreSolicitud,Descripcion,Estado -->
		</center>
	</div>
</div>

<hr>

<div class="solicitudes">

<div class="row">
      <div class="span8">
        <h2> Listado de Solicitudes </h2>
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Nombre Solicitud </th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Costo</th>
            <th>Impacto</th>
            <th>Accion a realizar<th>
            <th>Eliminar</th>
            <th>Modificar</th>
            <th>Enviar</th>
          </tr>
          {% for u in solicitudes %}
          {%if u !=""%}
          <tr>
            <td>{{u.idSolicitud}}</td>
            <td>{{u.nombreSolicitud}}</td>
            <td>{{u.descripcion}}</td>
            <td>{{u.estado}}</td>
            <td>{{u.costo}}</td>
            <td>{{u.impacto}}</td>
            <td>{{u.accionSol}}</td>
            {%if u.estado != "pendiente"%}
            	 <!-- si tiene permiso para eliminar una solicitud -->
            	 {% if 31 in session['permisos'] %}
            		<td><a class="btn btn-danger" onClick="eliminar({{u.idSolicitud}});">Eliminar</a></td>
            	{% else %} 
            		<td></td>
            	{%endif%}	
            
            {%else %}
            <td></td>
            {%endif%}

            {%if u.estado != "pendiente"%}
            	<!-- si tiene permiso para modificar una solicitud -->
            	{% if 30 in session['permisos'] %}
            		<td><a class="btn" onClick="habilitarModificar('{{u.idSolicitud}}','{{u.nombreSolicitud}}','{{u.descripcion}}','{{u.estado}}');">
            		Modificar</a></td>
            	{% else %} 
            		<td></td>
            	{%endif%}	
            
            
            {%else %}
            <td></td>
            {%endif%}

            {%if u.estado != "pendiente"%}
            	<!-- si tiene permiso para enviar una solicitud -->
            	{% if 32 in session['permisos'] %}
            		<td><a class="btn "onClick="enviarSol({{u.idSolicitud}});">Enviar</a></td>
            	{% else %}
            		<td></td>
            	{%endif%}	
            
            {%else %}
            <td></td>
            {%endif%}

          </tr>

          {% else %}
          	<tr>
          		NO HAY REGISTROS
          	</tr>
          {%endif%}
          {% endfor %}

        </table>
      </div>
      <div class="span4">

		    <input placeholder="Buscar Solicitud..." id="nombreBuscado" />
			 <a class='btn add-on btn-primary' onClick="buscarSolicitud();">
		        <i class="icon-search"></i>
		     </a>

      </div>
    </div>



<!-- boton para mostrar formulario -->
<div class="row" id="boton-mostrar-formulario">

	<div class="span12">
		<center>
		<!-- Si el usuario logeado es miembros del comite -->
		{%if usuario in miembros %}
			<td>Es usuario del comite no puede crear una solicitud</td>
		{%else%}
				<!-- si tiene permiso para crear una solicitud -->
				{% if 29 in session['permisos'] %}
					
					{% if vacio == False %}	
						<a class="btn btn-primary" onClick="mostrarFormulario();">Agregar Nueva Solicitud</a>
					{% else %}
						<td> No hay ningun item en una Linea Base </td>
					{% endif %}
				
				{% else %}
					<td></td>
				{% endif %}
		
		{%endif%}
		</center>
	</div>
</div>


<!---- formulario de sol nuevo o modificar -->



<div class="row hide" id="formulario-div">

	<div class="span12">
		<center>

		<form action="{{ url_for('nuevaSolicitud') }}/{{idProyecto}}/{{idFase}}" method="post" class="form-horizontal" id="formulario">
			<fieldset>


				<label>Nombre de solicitud:</label>
				<input type="text" placeholder="nombreSolicitud" name="nombreSolicitud" id="nombreSolicitud">
				<label>Descripcion de solicitud:</label>
				<input type="text" placeholder="descripcion" name="descripcion" id="descripcion">
				<label>Item a cambiar:</label>
				{%if vacio == False%}	
					<select name="idItem">
				
                	{% for p in items %}
          				<option value="{{p.idItemActual}}">{{p.nombreItemActual}}- IdFase {{p.idFase}}</option>
            		{% endfor %}
            		
          			</select>
				{%else%}
            		<td> No hay item en linea Base</td>
            	{%endif%}
          		<label>Tipo de Accion:</label>
				<select name="accionSol">
                	<option value="eliminar"> Eliminar </option>
                	<option value="modificar"> Modificar </option>
                </select>
		<!--- 	<label>Estado:</label>
				<input type="text" placeholder="estado" name="estado" id="estado"> --->
				<br/>
				<br/>

				<input type="submit" value="Guardar" class="btn btn-primary" id="btn-accion">

			</fieldset>
		</form>
		<a onClick="ocultarFormulario();" class="btn">Cancelar</a>
		</center>

	</div>
</div>

<hr>
<div class="row">
    <div class="span12">
    <center>
        <a href="{{url_for('indexAdministrarFase')}}/{{idProyecto}}" class="btn btn-large btn-success">Atras!</a>
        </center>
    </div>
</div>





</div>
{% endblock %}