{% extends "base.html" %}
{% block body %}


<script>
	function habilitarModificar(idUsuario,nombreUsuario,nombre,apellido,CI,email,contrasena,telefono ){

		/*
			Modificamos el texto del boton, el lugar donde apunto el formulario
			rellenamos los datos, e incluimos el campo id :)
		*/
		$("#formulario").attr('action','{{ url_for('modificarUsuario') }}');
		$("#formulario").append('<input type="hidden" value="'+idUsuario+'" name="idUsuario" >' );


		/* Rellenamos los campos :) */
		$("#idUsuario").val( idUsuario );
		$("#nombreUsuario").val( nombreUsuario );
		$("#nombre").val( nombre );
		$("#apellido").val( apellido );
		$("#CI").val( CI );
		$("#email").val( email );
		$("#contrasena").val( contrasena );
		$("#telefono").val( telefono );

		// SI TODO SALE BIEN Y LAS PUTAS
		//Mostramos el formulario
		mostrarFormulario();
	}

	function eliminar(id){
		$("#botones-eliminar").empty().append("<a href=\"{{url_for('eliminarUsuario')}}/" + id +  "\"  class=\"btn danger\">Si</a>"
		+
         "<a  data-dismiss=\"modal\" class=\"btn secondary\">No</a>");
        $("#modal-from-dom").modal('show');
	}

	function mostrarFormulario(){
		$("#formulario-div").show("slow");
		$("#boton-mostrar-formulario").hide();
	}
	function ocultarFormulario(){
		$("#formulario-div").hide("slow");
		$("#boton-mostrar-formulario").show();
		$("#formulario")[0].reset();

	}

	function buscarUsuario(){
		var nombre = $("#nombreBuscado").val();

		if(nombre.length > 0){
			window.location = "{{url_for('buscarUsuario')}}/" + nombre;
		}


	}


</script>

<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Eliminar Usuario</h3>
    </div>
    <div class="modal-body">
      <p>La eliminacion de un usuario es irreversible.</p>
      <p>Esta seguro que desea eliminar?</p>
    </div>
    <div class="modal-footer" id="botones-eliminar">
    	<!-- placeholder -->
    </div>
</div>

<div class="row">
    <br>
</div>

<div class="row">
	<div class="span12">
		<center>
		<h1> USUARIOS </h1>
		<!-- nombreUsuario, nombre, apellido, CI, telefono, email, contrasena -->
		</center>
	</div>
</div>

<hr>

<div class="usuarios">

<div class="row">
      <div class="span8">
        <h2> Listado de Usuarios </h2>
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Nombre Usuario</th>
            <th>Nombre </th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>CI</th>
            <th>Contrasena</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            <th>Roles</th>
          </tr>
          {% for u in usuarios %}
          <tr>
            <td>{{u.idUsuario}}</td>
            <td>{{u.nombreUsuario}}</td>
            <td>{{u.nombre}}</td>
            <td>{{u.apellido}}</td>
            <td>{{u.telefono}}</td>
            <td>{{u.email}}</td>
            <td>{{u.CI}}</td>
            <td>{{u.contrasena}}</td>
            <td><a class="btn btn-danger" onClick="eliminar({{u.idUsuario}});">Eliminar</a></td>
            <td><a class="btn" onClick="habilitarModificar('{{u.idUsuario}}','{{u.nombreUsuario}}','{{u.nombre}}','{{u.apellido}}','{{u.CI}}','{{u.email}}','{{u.contrasena}}','{{u.telefono}}');">
            Modificar</a></td>
            <td><a class="btn btn-info" href="{{url_for('rolesUsuario')}}/{{u.idUsuario}}">Roles</a></td>
          </tr>

          {% else %}
          	<tr>
          		NO HAY REGISTROS
          	</tr>
          {% endfor %}

        </table>
      </div>
      <div class="span4">

		    <input placeholder="Buscar Usuario..." id="nombreBuscado" />
			 <a class='btn add-on btn-primary' onClick="buscarUsuario();">
		        <i class="icon-search"></i>
		     </a>

      </div>
    </div>



<!-- boton para mostrar formulario -->
<div class="row" id="boton-mostrar-formulario">

	<div class="span12">
		<center>
		{% if (1) in session['permisos'] %}
		<a class="btn btn-primary" onClick="mostrarFormulario();">Agregar Nuevo Usuario</a>
		{%else%}
		<td></td>
		{%endif%}
		</center>
	</div>
</div>


<!---- formulario de usuario nuevo o modificar -->



<div class="row hide" id="formulario-div">

	<div class="span12">
		<center>

		<form action="{{ url_for('nuevoUsuario') }}" method="post" class="form-horizontal" id="formulario">
			<fieldset>

				<label>Nombre de Usuario:</label>
				<input type="text" placeholder="Nombre de Usuario" name="nombreUsuario" id="nombreUsuario" maxlength="45">
				<label>Nombre:</label>
				<input type="text" placeholder="Nombre" name="nombre" id="nombre">
				<label>Apellido:</label>
				<input type="text" placeholder="Apellido" name="apellido" id="apellido">
				<label>CI:</label>
				<input type="number" placeholder="CI" name="CI" id="CI" >
				<label>Telefono:</label>
				<input type="text" placeholder="Telefono" name="telefono" id="telefono">
				<label>E-mail:</label>
				<input type="email" placeholder="Email" name="email" id="email" >
				<label>Contraseña:</label>
				<input type="text" placeholder="Contraseña" name="contrasena" id="contrasena" >
				<br/>
				<br/>

				<input type="submit" value="Guardar" class="btn btn-primary" id="btn-accion">

			</fieldset>
		</form>
		<a onClick="ocultarFormulario();" class="btn">Cancelar</a>
		</center>

	</div>
</div>



</div>
{% endblock %}