{% extends "base.html" %}

{% block body %}

<script>
	function mostrarFormulario(){
		$("#formulario-div").show("slow");
		$("#boton-mostrar-formulario").hide();
	}
	function ocultarFormulario(){
		$("#formulario-div").hide("slow");
		$("#boton-mostrar-formulario").show();
		$("#formulario")[0].reset();

	}
	
</script>



<div class="row">
    <div class="span12">
        <center>
        <h1> Reportes </h1>
        <hr>
        </center>
    </div>
</div>

<hr>


<!-- boton para mostrar formulario -->

<div class="row" id="boton-mostrar-formulario">
	
	<div class="span12">
		<center>
		
		<h3>Elejir El Item </h3>
		<!-- si tiene permiso para crear usuarios -->
		
		{% if 24 in session['permisos'] %}
			<a class="btn btn-primary" onClick="mostrarFormulario();">Generar</a>
		{%else%}
			<td></td>
		{%endif%}
		
		</center>
	</div>
</div>


<!-- Este es el formulario para generar reportes de items de un proyecto dado --> 
<div class="row hide" id="formulario-div">

	<div class="span12">
		<center>

	<form action="{{ url_for('historialDeItem') }}" method="post" class="form-horizontal" id="formulario">
			<fieldset>

				<label>Items del proyecto :</label>
					<select name="idItemActual">                	
                		{% for p in items %}
          					<option value="{{p.idItemActual}}">{{p.nombreItemActual}}</option>
            			{% endfor %}
				</select>		
				<br/>
				<br/>

				<input type="submit" value="Generar" class="btn btn-primary" id="btn-accion">

			</fieldset>
		</form>
		<a onClick="ocultarFormulario();" class="btn">Cancelar</a>
		</center>

	</div>
</div>
<!-- fin  -->


<hr>
<div class="row">
    <div class="span12">
    <center>
        <a href="{{url_for('indexReportes')}}" class="btn btn-large btn-success">Atras!</a>
        </center>
    </div>
</div>




{% endblock %}