{% extends "base.html" %}
{% block body %}




<div class="row">
    <br>
</div>

<div class="row">
    <div class="span12">
        <center>
        <h1> {{solicitud.nombreSolicitud}}</h1>
        </center>

        <p> Solicitado por : {{usuario.nombre}} {{usuario.apellido}}
        <hr/>
        <h3>Descripcion : </h3>
        <p style="font-size:18px;">{{solicitud.descripcion}}</p>
        <br/>
        <hr>
        <h3>Accion Solicitada : </h3>
        <p>{{solicitud.accionSol}}</p>

        <h3>Costo : </h3>
        <p>{{solicitud.costo}}</p>

        <h3>Impacto : </h3>
        <p>{{solicitud.impacto}}</p>

		<h3>Listado de Items afectados</h3>
		<ul>
		{% for item in listadoItem %}
			<li>{{item}}</li>
		{% endfor %}
        </ul>
        <center>
        {% if session['idUsuario'] in votantes %}
            <h4> Usted ya ha votado </h4>
        {% else %}
        		<!-- si tiene permiso para votar una solicitud -->
				{% if 25 in session['permisos'] %}
          			<a href="{{url_for('votarPositivo')}}/{{solicitud.idSolicitud}}" class="btn">Aprobar</a>
          			<a href="{{url_for('votarNegativo')}}/{{solicitud.idSolicitud}}" class="btn">Rechazar</a>
        		{% else %}
        			<td></td>
        			<td></td>
        		{%endif%}
        
        {% endif %}
        </center>
    </div>
</div>

<hr>








{% endblock %}